$mobile-width:                  480px !default;
$tablet-width:                  768px !default;
$desktop-width:                 1024px !default;

$black:                         #000000 !default;
$white:                         #ffffff !default;

$width:                         1170px  !default;

$bg-color:                      #c4c4c4 !default;
$padding:                       5px 0 5px 0 !default;

$body-color:                    #ffffff !default;
$text-color:                    #333333 !default;

$link-color:                    #ff6600 !default;
$link-highlight-color:          #009d00 !default;
$link-hover-color:              #b34700 !default;
$link-hover-decoration:         underline !default;

$border-color:                  #b7c5d9 !default;

$font-family:                   'Roboto', sans-serif !default;
$font-size:                     13px !default;

$nav-bg:                        #d9d9d9 !default;
$nav-color:                     #b3b3b3 !default;
$nav-padding:                   5px !default;

$header-font-size:              32px !default;
$header-padding:                10px !default;

$form-label-bg-color:           #b3b3b3 !default;
$form-label-border-color:       #1a1a1a !default;
$form-label-padding:            0px 5px !default;

$post-area-thread-padding:      10px !default;

$subject-color:                 #404040 !default;
$name-color:                    #800000 !default;
$tripcode-color:                #3F8136 !default;
$status-color:                  #c0c0c0 !default;

$reply-bg:                      #cccccc !default;
$reply-border-color:            #999999 !default;
$reply-padding:                 6px !default;

$greentext-green:               #789922 !default;

$highlight-bg:                  #eedacb !default;
$highlight-border-color:        #ee6600 !default;

$extras-color:                  #b3b3b3 !default;
$extras-padding:                15px 10px !default;

$pagination-bg:                 #d9d9d9 !default;
$pagination-border-color:       #cccccc !default;
$pagination-padding:            5px !default;

$footer-bg:                     #666666 !default;
$footer-color:                  #dddddd !default;
$footer-padding:                15px;
